
.divStyle{
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 50px;
    /* display: flex;
    justify-content: space-between; */
    
}

.headerStyle{
    position: relative;
    text-align: center;
}

h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }
  h1:before, h1:after {
    background-color: #ddd;
    content: '\a0';
    flex-grow: 1;
    height: 1px;
    position: relative;
    top: 0.5em;
  }
  h1:before {
    margin-right:10px;
  }
  h1:after {
    margin-left:10px;
  }