
.headerStyle{
    position: relative;
    text-align: center;
}

.headerStyle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    margin-bottom: -100px;
  }
  .headerStyle:before, .headerStyle:after {
    background-color: #ddd;
    content: '\a0';
    flex-grow: 1;
    height: 1px;
    position: relative;
    top: 0.5em;
  }
  .headerStyle:before {
    margin-right:10px;
  }
  .headerStyle:after {
    margin-left:10px;
  }

  .results {
    height: 10em;
    /* position: relative  */
}
    .results label {
    margin-left: -50%;
    background: yellow;
    position: absolute;
    top: 120%;
    /* margin-right: -50%; */
    transform: translate(-50%, -50%) 
  }